*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/app/.cxx
/app/src/main/cpp/katago/
AhQ_Go_Lite_4.2.5.apk
AhQ_Go_Pro_2.9.1.apk
baduk_ai__*.apk
